@import "tailwindcss";
@import "@nuxt/ui";
@import "@vue-flow/core/dist/style.css";
@import "@vue-flow/core/dist/theme-default.css";

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --breakpoint-4xs: 14rem;
  --breakpoint-3xs: 20rem;
  --breakpoint-2xs: 24rem;
  --breakpoint-xs: 36rem;
  --breakpoint-3xl: 128rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 200rem;

  --color-green-50: #effdf5;
  --color-green-100: #d9fbe8;
  --color-green-200: #b3f5d1;
  --color-green-300: #75edae;
  --color-green-400: #00dc82;
  --color-green-500: #00c16a;
  --color-green-600: #00a155;
  --color-green-700: #007f45;
  --color-green-800: #016538;
  --color-green-900: #0a5331;
  --color-green-950: #052e16;
}

.workflow-canvas {
  background-color: rgb(24 24 27);
  background-image:
    linear-gradient(to right, rgba(249, 115, 22, 0.15) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(249, 115, 22, 0.15) 1px, transparent 1px);
  background-size: 28px 28px;
}

@keyframes loading-bar-slide {
  0% {
    transform: translateX(-60%);
  }
  50% {
    transform: translateX(40%);
  }
  100% {
    transform: translateX(140%);
  }
}
